<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Catalogo</title>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"  >
</head>
<body>

<!-- barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light bg-green" style="background-color:#96C689">
  <a class="navbar-brand" href="#">KAWSAY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item active">
        <a class="nav-link" href="Home">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="integrantes">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CATALOGO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <h1>Catalogo de Productos</h1>
  <p>Aqui encontraras todos los productos y cuanto puntos vale cada uno</p>
</div>


<div class="container">
  <h2>Tabla de Productos</h2>       
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img alt="azuca" src="https://i.postimg.cc/7L1VWKbt/azucar.jpg"></td>
        <td>Azucar 1KG</td>
        <td>300</td>
        <td>150</td>
      </tr>
      <tr>
        <td><img alt="leche" src="https://i.postimg.cc/xjZKgwtT/leche-gloria.jpg"></td>
        <td>Leche Gloria</td>
        <td>400</td>
        <td>130</td>
      </tr>
      <tr>
        <td><img alt="atun" src="https://i.postimg.cc/7h4bQNG9/atun.jpg"></td>
        <td>Atun Florida trozos</td>
        <td>200</td>
        <td>100</td>
      </tr>
      <tr>
        <td><img alt="Arroz" src="https://i.postimg.cc/sDmdWJVz/arroz-faraon.jpg"></td>
        <td>Arroz 1KG</td>
        <td>600</td>
        <td>120</td>
      </tr>
      <tr>
        <td><img alt="Papa" src="https://i.postimg.cc/MKbkJJXq/papa.jpg"></td>
        <td>Papa 1KG</td>
        <td>500</td>
        <td>140</td>
      </tr>
      <tr>
        <td><img alt="Fideos" src="https://i.postimg.cc/3rmV2QXm/fideos.jpg"></td>
        <td>Fideos molitalia 1KG</td>
        <td>180</td>
        <td>80</td>
      </tr>
      <tr>
        <td><img alt="Zanahoria" src="https://i.postimg.cc/7Yqs7GYr/zanahoria.jpg"></td>
        <td>Zanahoria 1KG</td>
        <td>200</td>
        <td>50</td>
      </tr>
      <tr>
        <td><img alt="queso" src="https://i.postimg.cc/9085qG91/queso.jpg"></td>
        <td>queso 300gr</td>
        <td>230</td>
        <td>80</td>
      </tr>
    </tbody>
  </table>
</div>



<script src="/boostrap/bootstrap.jquery.slim.min.js"></script>
<script src="/boostrap/bootstrap.bundle.min.js"></script>
</body>
</html>