<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Catalogo</title>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"  >
</head>
<body>

<!-- barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light bg-green" style="background-color:#96C689">
  <a class="navbar-brand" href="#">KAWSAY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item active">
        <a class="nav-link" href="Home">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="integrantes">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CATALOGO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <h1>Catalogo de Productos</h1>
  <p>Aqui encontraras todos los productos y cuanto puntos vale cada uno</p>
</div>

<div class="container">
  <h2>Tabla de Productos</h2>        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>



<script src="/boostrap/bootstrap.jquery.slim.min.js"></script>
<script src="/boostrap/bootstrap.bundle.min.js"></script>
</body>
</html>