<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CRUD SPRING BOOT</title>
</head>
<body>
	<div>
		<form th:action="@{/save}" th:object="${catalogo}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{id}" readonly="readonly" />
				</div>
				<div>
					<label>IMAGEN</label> <input type="text" th:field="*{image}" />
				</div>
				<div>
					<label>NOMBRE</label> <input type="text" th:field="*{nombre}" />
				</div>
				<div>
					<label>CANTIDAD</label> <input type="text" th:field="*{cantidad}" />
				</div>
				<div>
					<label>PUNTOS</label> <input type="text" th:field="*{puntos}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listar}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>