<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CRUD SPRING BOOT</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<main>
	<div class="container mt-4">
	<div class="col-sm-6">
		<form th:action="@{/provedores/save}" th:object="${proveedor}" method="POST">
		
		<div class="alert alert-success" role="alert" th:if="${success != null}" th:text="${success}"></div>
		
			<div class="card">
			<div class="card-header">
			<h3>Modulo Provedores</h3>
			</div>
			<div class="card-body">
				<div class="mb-3">
					<label>ID</label> <input type="text" th:field="*{id}" readonly="readonly" />
				</div>
				<div class="mb-3">
					<label>IMAGEN</label> <input type="text" th:field="*{image}" />
				</div>
				<div class="mb-3">
					<label>NOMBRE</label> <input type="text" th:field="*{nombre}" />
				</div>
				<div class="mb-3">
					<label>PRODUCTO</label> <input type="text" th:field="*{producto}" />
				</div>
				<div class="mb-3">
					<label>RUC</label> <input type="text" th:field="*{ruc}" />
				</div>
			</div>
			<div class="card-footer">
				  <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                  </div>
				<a th:href="@{/provedores/listar}"><button type="button" class="btn btn-danger">Regresar</button></a>

			</div>
			</div>
		</form>
		</div>
	</div>
	
</main>
</body>
</html>