<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${TituloPagina}"></title>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"  >
<script src="/boostrap/bootstrap.jquery.slim.min.js"></script>
<script src="/boostrap/bootstrap.bundle.min.js"></script>
</head>
<body class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Integrantes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mijael Patrick Cóndor Mejía
</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jennifer Catherine Paucar Rudas
</td>
  
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Rousse Samira Cahuas De la cruz</td>
    </tr>
    
    
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Silvana Mego Valverde
</td>
    </tr>
    
    <tr>
      <th scope="row">5</th>
      <td colspan="2">Yeshua Abner Aguilar Calderon</td>
    </tr>
  </tbody>
</table>
</body>
</html>