<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${TituloPagina}"></title>
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>
<body>

	
	
<nav class="navbar navbar-expand-lg navbar-light bg-green" style="background-color:#96C689">
  <a class="navbar-brand" href="#">KAWSAY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item">
        <a class="nav-link" href="home">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="catalogo">CATÁLOGO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">FORMULARIO USUARIO</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="ListaUsuario">LISTA DE USUARIOS</a>
      </li>
    </ul>
    
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

	

	<div class="container mt-2">
		<div class="jumbotron">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<br>
			<p class="lead" th:text="${Mensaje}"></p>

			<hr class="my-4">
			<div class="jumbotron">
				<div class="list-group mt-2" th:each="usuario : ${listita}">
						<div class="card" style="width: 18rem;">
							<img th:src="@{/UploadsImg/}+${usuario.uriImagen}" class="card-img-top" th:alt="${usuario.uriImagen}">
							
							<div class="card-body">
								<h5 class="card-title" th:text="${usuario.nombres}"></h5>

								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:text="${usuario.apellidos}"></li>
									<li class="list-group-item" th:text="${usuario.edad}"></li>
								</ul>

								<a th:href="@{/app/Editar/}+${usuario.idUsuario}" class="btn btn-success">Editar</a> 
								<a th:href="@{/app/Elimnar/}+${usuario.idUsuario}"  class="btn btn-danger">Eliminar</a>
							</div>
						</div>
				</div>
			</div>

		</div>

	</div>


	<script src="/bootstrap/jquery.slim.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.min.js"></script>


</body>
</html>
